<div class="item-row">
	<div class="item-content">
		<div style="display:none;" id="pdf_url">http://s250217848.online.de/api/public/files/<%= pdf %></div>
		<div style="display:none;" id="transaction_id"><%= transaction_id %></div>
		<p class="item-price"><%= price %><span>Unbezahlt</span></p>
		<h2><%= customer_name %></h2>
		<p class="item-name"><%= article_name %></p>
		<p class="item-date"><%= date %></p>
	</div>
	<div class="item-overlay">
	    <a href="" class="item-email" data-toggle="modal" data-target="#myEmailModal">Email</a>
	    <a href="#" class="item-print" onclick="javascript:print('http://s250217848.online.de/api/public/files/<%= pdf %>');">Print</a>
	    <a href="" class="item-edit" data-toggle="modal" data-target="#myEditModal">Edit</a>
	    <a href="" class="item-view" data-toggle="modal" data-target="#myViewModal">View</a>
	    <a href="javascript:void(0)" class="item-close">&times;</a>
	</div>
</div>